<footer>
    <div class="logo-wrapper">
        <a href="https://chevro.fr">
            <img src="/files/imgs/chevro_text_white.svg" /> 
        </a>
    </div>

    <div class="expand"></div>

    <a class="footer-link" href="https://github.com/CHEVROfr/markdown-pdf">Github</a>
</footer>