@media print {
    body {
        padding: 0 !important;
    }

    .markdown {
        margin: 4rem !important;
        margin-top: 0 !important
    }
}

@page {
    margin-top: 4rem;
    margin-bottom: 4rem;

    size: A4 portrait;
}
@page:first {
    margin-top: 2rem;
    margin-bottom: 2rem;
}